.ant-select-dropdown{
  z-index: 20050!important
}
.activity-main{
  .save{
    text-align: center;
    margin-bottom: 30px;
  }
}
.setting-item{
  >.item{
    display: flex;
    align-items: center;
    margin: 24px 0;
    flex-wrap: wrap;
    >label{
      width: 80px;
      display: flex;
      align-items: center;
      color: #2e2d2d;
      justify-content: flex-end;
      padding-right: 15px;
      >span{color:red}
    }
    >input[type=text].form-input{
      width: 770px;
    }
    .time-block{
      margin:0 17px;
    }
    .address-box{
      >span{
        padding-right: 10px;
        display: inline-block;
      }
    }
    .more-address{
      display: flex;
      align-items: center;
      width: 100%;
      margin-left: 90px;
      margin: 24px 0;
      margin-bottom: 0;
      margin-left: 90px;
      >span{
        width: 67px;
        display: inline-block;
      }
    }
    .ant-select{margin-right: 20px;}
    .prevoius-pic{
      width: 347px;
      height: 167px;
      background: #fff;
      border: 1px solid #d9d9d9;
      >img{
        max-width: 100%;
        max-height: 100%;
        display: block;
      }
    }
    .upload-box{
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      height: 165px;
      justify-content: center;
      >div{
        margin-top:15px;
      }
    }
    .field-main{
      margin-top: 24px;
      margin-bottom: 20px;
      width: 100%;
      >label{
        text-align: center;
        display: block;
        font-size: 16.8px;
        color: #373839;
        padding-top: 40px;
        border-top: 1px dashed #d9d9d9;
        padding-bottom: 20px;
      }
    }
    .color-ant{width: 102px;min-width: auto;}
    #icp_color{
      >img{width: 28px;margin-left: 10px;}
    }
  }
  .item:first-child{margin-top:0px;}
  .item.upitem{
      align-items: self-start;
      >label{
        padding-top: 10px;
        line-height: 14px;
        font-size: 14px;
      }
  }
}
