body{overflow-x: hidden;}
#chartBox{
  width: 100%;
  position: absolute;
  top:66px;
  left: 0px;
  z-index: 2;
  //background: url('../../common/image/card.png') no-repeat;
  background-size: cover;
  canvas{
    z-index: 22;
  }
  >img{
    box-shadow: 0px 0px 15px #a19d9d;
  }
  >img:hover{
    -webkit-transition: all .3s;
    transition: all .3s;
    transform: scale(1.2)
  }
}
.galaxy-detailpage{
  width: 100%;
  position: absolute;
  z-index: 3;
  top:66px;
  left: 0px;
  canvas{
    z-index: 22;
  }
}
.mask-header{
  width: 100%;
  z-index: 999;
  min-height: 66px;
  line-height: 66px;
  background: #373839;
  position: absolute;
  top:0px;
  left: 0px;
  z-index: 22;
}
.canvasBg{
  position: absolute;
 height: 100vh;
 width: 100vw;
 top:0;
 left: 0px;
}
.tree-div{
  position:absolute;
   margin:0px;
   padding:0px;
   background-color:rgba(255,0,0,0.5);
}
