<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coolgua.signup.mapper.SysUserInfoMapper">

	<resultMap type="SysUserInfoEntity" id="userInfoMap">
		<id column="userid" jdbcType="VARCHAR" property="userId" />
		<result column="nick_name" jdbcType="VARCHAR" property="nickName" />
		<result column="open_id" jdbcType="VARCHAR" property="openId" />
		<result column="head_imgurl" jdbcType="VARCHAR" property="headImgurl" />
		<result column="head_img_circle" jdbcType="VARCHAR" property="headImgCircle" />
		<result column="sex" jdbcType="VARCHAR" property="sex" />
		<result column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"
			property="createTime" />
		<result column="restiger_status" jdbcType="INTEGER" property="restigerStatus" />
		<result column="share_num" jdbcType="INTEGER" property="shareNum" />
		<result column="qrcode_url" jdbcType="VARCHAR" property="qrCodeUrl" />
		<result column="event_id" jdbcType="VARCHAR" property="eventId" />
	</resultMap>
	
	<insert id="saveUserinfo" parameterType="SysUserInfoEntity">
		<selectKey keyProperty="userId" resultType="String" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into tb_user
		(userid,nick_name,open_id,head_imgurl,sex,create_time,restiger_status,tickets_num, qrcode_url, event_id, head_img_circle)
		values
		(#{userId},#{nickName},#{openId},#{headImgurl},#{sex},#{createTime},#{restigerStatus},#{ticketsNum},#{qrCodeUrl},#{eventId},#{headImgCircle})
	</insert>

	<select id="findByOpenId" resultMap="userInfoMap" parameterType="java.util.Map">
		select * from tb_user t where t.open_id=#{openId} and t.event_id=#{eventId}
	</select>

	<select id="selectCount" resultType="java.util.Map" parameterType="java.lang.String">
		select COALESCE(SUM(share_num),0) sharecount, count(*) showcount from tb_user where event_id=#{eventId}
	</select>
	
	<update id="updateStatus" parameterType="SysUserInfoEntity">
		update tb_user set restiger_status =#{restigerStatus}
		where open_id=#{openId} and event_id=#{eventId}
	</update>
	
	<update id="updateUserinfo" parameterType="SysUserInfoEntity">
		update tb_user
		set nick_name=#{nickName}, head_imgurl=#{headImgurl}, sex=#{sex}
		where open_id=#{openId} and event_id=#{eventId}
	</update>
	
	<update id="updateShareNumByopenId" parameterType="SysUserInfoEntity">
		update tb_user set share_num = share_num + 1
		where open_id=#{openId} and event_id=#{eventId}
	</update>
	
	<insert id="addShareLog" parameterType="java.util.Map">
		insert into tb_share_log (id, open_id, event_id, share_time)
		values (#{id},#{openId},#{eventId}, now())
	</insert>
	
	<select id="findStatisticsCount" resultType="int">
		select count(*) from
		tb_user where tickets_num=#{openId} and event_id=#{eventId}
	</select>
	
	<select id="findUserList" parameterType="SysUserInfoEntity"
		resultMap="userInfoMap">
		select * from
		tb_user where tickets_num=#{openId} and event_id=#{eventId}
	</select>

	<select id="findRanking" parameterType="java.util.Map" resultType="int">
		select rank from (
		    select s.open_id, @currank := @currank + 1 as rank
		    from tb_user s, (select @currank := 0) r
		    order by s.share_num desc
		) a
		where a.open_id = #{openId} and event_id=#{eventId}
	</select>
	
	<update id="updateQrCodeUrl" parameterType="SysUserInfoEntity">
		update tb_user set qrcode_url =#{qrCodeUrl}
		where open_id=#{openId} and event_id=#{eventId}
	</update>
	
	<update id="updateNickName" parameterType="SysUserInfoEntity">
		update tb_user set nick_name =#{nickName}, head_imgurl =#{headImgurl}, sex =#{sex}, tickets_num=#{ticketsNum}, head_img_circle =#{headImgCircle}
		where open_id=#{openId} and event_id=#{eventId}
	</update>
	
</mapper>