// 不换行
.no-wrap() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-shadow(@value){
  -webkit-box-shadow: @value;
  -moz-box-shadow: @value;
  box-shadow: @value;
}

.border-radius(@value){
  -webkit-border-radius: @value;
  -moz-border-radius: @value;
  border-radius: @value;
}
