// 颜色定义规范
@color: #ffa800;
@color-text: #373839;
@color-background : #373839;
@color-highlight-background : #333;
@color-dialog-background : #666;
@color-theme : #7cc623;
@color-gray : #bbb;


//字体定义规范
@fcolor : #373839;
@font-size-small : 12px;
@font-size-middle : 13px;
@font-size-medium : 14px;
@font-size-medium-d: 16px;
@font-size-large : 18px;
