a{text-decoration:none}
.notfoud-container .img-404{height:155px;background:url(../../common/image/page-404_39c5442.png) center center no-repeat;-webkit-background-size:150px auto;margin-top:40px;margin-bottom:20px}
.notfoud-container .notfound-p{
    line-height: 22px;
    font-size: 17px;
    padding-bottom: 45px;
    border-bottom: 1px dashed #dfdbdb;
    text-align: center;
    color: #262b31;
}
.notfoud-container .notfound-reason{color:#9ca4ac;font-size:13px;line-height:13px;text-align:left;width:210px;margin:0 auto}
.notfoud-container .notfound-reason p{margin-top:13px}.notfoud-container .notfound-reason ul li{margin-top:10px;margin-left:36px}
.notfoud-container .notfound-btn-container{margin:40px auto 0;text-align:center}
.notfoud-container .notfound-btn-container .notfound-btn{
  text-decoration: none;
  min-width: 114px;
  text-align: center;
  border: 1px solid #7cc623;
  border-radius: 3px;
  margin: 0 5px;
  padding: 7px 10px;
  cursor: pointer;
  border: none;
  background: #ffa800;
  outline: none;
  width: 169px;
  height: 42px;
  color: #373839;
  font-size: 15px;
  letter-spacing: 3px;
  display: inline-block;
  line-height: 28px;
}
